{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Quizzes for Class{% endblock %}</h1>
  <ul>
    <li><a href="{{ url_for('add_student') }}">Add Student</a></li>
    <li><a href="{{ url_for('add_quiz') }}">Add Quiz</a></li>
    <li><a href="{{ url_for('add_results') }}">Add Quiz Result</a></li>
  </ul>
{% endblock %}

{% block content %}
    <form action="/quiz/add" method="post">
        Quiz Subject: <input type="text" name="quiz_subject"></input><br/>
        Quiz Questions: <input type="number" name="quiz_questions"></input><br/>
        Quiz Date: <input type="date" name="quiz_date"></input><br/>
        <input type="submit" value="Add Quiz">
    </form>
{% endblock %}