{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Dashboard{% endblock %}</h1>
  <ul>
    <li><a href="{{ url_for('add_student') }}">Add Student</a></li>
    <li><a href="{{ url_for('add_quiz') }}">Add Quiz</a></li>
    <li><a href="{{ url_for('add_results') }}">Add Quiz Result</a></li>
  </ul>
{% endblock %}

{% block content %}
    <p>Student List:</p>
    {% for student in student_rows %}
    <ul>
        <li><a href="/student/{{student[0]}}">Student {{student[0]}}</a>: {{student[2]}} {{student[1]}}</li>
    </ul>
    {% endfor %}
    <p>Quiz List:</p>
    {% for quiz in quiz_rows %}
    <ul>
        <li>Quiz {{quiz[0]}}: {{quiz[1]}}, {{quiz[2]}} questions, taken on {{quiz[3]}}</li>
    </ul>
    {% endfor %}
{% endblock %}